<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Página Principal</title>
</head>
<body>
	<div layout:fragment="conteudo">

		<div th:replace="~{layout/fragments/sidebar :: sidebar}"></div>

		<!-- conteudo principal -->
		<main class="mt-5 p-4 pt-5">
			<h2>Agendar Consulta</h2>
			<div class="container-fluid">
					<form th:action="@{/consultas/abrirescolherpsicologo}" method="get">
						<button type="submit" class="btn btn-primary mt-3">Escolher Psicologo</button>
					</form>
					<div th:if="${session.consulta?.psicologo != null}" class="mt-3">
						<label th:text="'Psicologo: '  + ${session.consulta.psicologo.nome}"></label>
						<label th:text="' - ' + ${session.consulta.psicologo.specialty.descricao}"></label>
					</div>				
					
					<form th:action="@{/consultas/abrirescolherdiahora}" method="get">
						<button type="submit" class="btn btn-primary mt-3" th:disabled="${session.consulta?.psicologo == null}">Escolher Dia Hora</button>
					</form>					
					<div th:if="${session.consulta?.paciente != null}" class="mt-3">
						<label th:text="'Data e Hora: ' + ${{session.consulta.consulteDate}}" class="componentedata"></label>
						<label th:text=" ' - ' + ${session.consulta.hora.descricao}"></label>
					</div>	

					<div sec:authorize="hasRole('ROLE_PSICOLOGO')">
						<form th:action="@{/consultas/abrirescolherpaciente}" method="get">
							<button type="submit" class="btn btn-primary mt-3" th:disabled="${session.consulta?.hora == null}">Escolher Paciente</button>
						</form>
						<div th:if="${session.consulta?.paciente != null}" class="mt-3">
							<label th:text="'Paciente: ' + ${session.consulta.paciente.nome}"></label>
						</div>	
					</div>
	
					<form th:action="@{/consultas/efetuarcadastro}" method="get">
						<button type="submit" class="btn btn-primary mt-3"
						th:disabled="${session.consulta?.psicologo == null} or
						${session.consulta?.paciente == null}">Agendar Consulta</button>
								
					</form>

			</div>
		</main>

	</div>

</body>
</html>